.tripDetails {
  max-width: 600px;
  margin: auto;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.detail {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.editButton,
.backButton {
  margin-top: 1rem;
  margin-right: 10px;
}
