.travelFormContainer {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px 0;;
  background: #fff;
  border-radius: 16px;
}

.formHeader {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.travelForm {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .error {
    font-size: 0.875rem;
    color: #e74c3c;
    margin-top: 5px;
  }

  .submitButton {
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: background 0.2s ease-in-out;

    &:disabled {
      background: #ccc;
      cursor: not-allowed;
    }
  }
}
